<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom border-top">
    <a href="/candidate/offers" role="button" class="btn btn-success">Espace Candidat</a>
</section>